* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.container {
	width: 1024px;
	margin: 0px auto;
}

header img {
	border-radius: 50px;
}

header h1 {
	display: inline-block;
	vertical-align: top;
	padding: 10px 0 0 10px;
}

nav a {
	text-decoration: none;
	padding: 18px;
}


nav a:visited {
	background-color: black;
	color: white;
}

nav a:hover {
	background-color: red;
	color: white;
}

nav {
	border-radius: 10px;
	background-color: black;
	color: white;
	padding: 1px;
}

nav ul {

	list-style-type: none;
}

nav li {
	display: inline-block;
	padding-right: 10px;
}

main p {
	font-size: 20px;
}

main li {
	line-height: 30px;
}

.exp {
	margin-top: 20px;
}

main {
	flex: 1 0 auto;
}

footer {
	background-color: gainsboro;
	text-align: center;
}